In [ ]:
x = "başarı"
print(x[::-1])

ıraşab

In [ ]:
try_tuple = ('love')

print(try_tuple)

print(type(try_tuple))

love
<class 'str'>

In [ ]:
my_tuple=(1, 4, 3, 4, 5, 6, 7, 4)

my_list = list(my_tuple)

print(type(my_list), my_list)

<class 'list'> [1, 4, 3, 4, 5, 6, 7, 4]

In [ ]:
mountain = tuple('Alps')
print(mountain)

('A', 'l', 'p', 's')

In [ ]:
t = 1000
t += t*0.07
t += t*0.07
t += t*0.07
t += t*0.07
t += t*0.07
t += t*0.07
t += t*0.07
t

1605.78147647843

In [ ]:
toplam = 1000
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam = toplam*2
toplam

536870912000

In [ ]:
toplam = 1000
toplam = toplam*2**29
toplam

536870912000

In [ ]:
1.07**7

1.6057814764784306

In [2]:
a = []
a.append('a')
print(a)

['a']

In [3]:
a, b, c = [], [], [[]]
a.append('a')
print(a)
print(b)
print(c)
print(len(a))
print(len(b))
print(len(c))

['a']
[]
[[]]
1
0
1

In [8]:
a = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
a.sort()
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
a.reverse()
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
a = list(range(1,11))
a.sort(reverse=True)
print(a)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print([grocer[1][1][1],grocer[1][1][3],grocer[1][1][5]])

['eggplant', 'spinach', 'leek']

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = ("My two favorite flowers are {} , two favorite colors are {}.".format((flowers[0][2],flowers[0][1][1]) , (colors[1][0],colors[1][1][1])))
text

"My two favorite flowers are ('tulip', 'rose') , two favorite colors are ('blue', 'green')."

In [ ]:
7
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}.".format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.

In [ ]:

sentence = "I am 40 years old.\n\t' I have two children.'\n\t\t Data Science is my IT domain."

print(sentence)

I am 40 years old.
	' I have two children.'
		 Data Science is my IT domain.

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]
sentence = ("I am 40 years old.{}I have two children.{}Data Science is my IT domain.".format(escapes[0],escapes[2][1]))
print(sentence)

I am 40 years old.
	I have two children.
		Data Science is my IT domain.

In [ ]:
letter = "a b c d e f g h i j k l m n o ö p r s ş t u ü v y z".split()
print(letter)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'ö', 'p', 'r', 's', 'ş', 't', 'u', 'ü', 'v', 'y', 'z']

In [ ]:
print(set(letter))

{'l', 'y', 's', 'c', 'p', 'o', 'b', 'r', 'd', 'e', 'z', 'n', 'k', 'u', 'j', 'g', 't', 'v', 'a', 'm', 'ü', 'i', 'f', 'ş', 'h', 'ö'}

In [ ]:
test = {1, "bir", 1.0}
len(test)

2

In [ ]:
date = "12/07/2021"
set(date)

{'/', '0', '1', '2', '7'}

In [ ]:
minced = True
bread = True
#green
lettuce = True
onion = True
grocer = True
hamburger = ( minced and grocer and bread) and (lettuce or onion)
if hamburger :
    print("Bon Appetit!")

Bon Appetit!

In [ ]:
r = {'q', 'w', 'e', 'r', 't', 'a', 's', 'd', 'f', 'g', 'z', 'x', 'c', 'v', 'b'}
l = {'y', 'u', 'i', 'o','p', 'h', 'j', 'k', 'l', 'n', 'm'}
w = set(input("enter a word : "))
if (w & r) and (w & l):
 print('true')
else:
 print('false')

enter a word : oguzhan
true

In [ ]:
numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1,20)
numbers_10

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
x = 85
if x >= 85: 
   print('rnbıvdfnvşl : %s ' % x )

rnbıvdfnvşl : 85