In [1]:
dict_by_dict = {'animal': 'dog',
                'planet': 'neptun',
                'number': 40,
                'pi': 3.14,
                'is_good': True}

print(dict_by_dict.items(), '\n')
print(dict_by_dict.keys(), '\n')
print(dict_by_dict.values())

dict_items([('animal', 'dog'), ('planet', 'neptun'), ('number', 40), ('pi', 3.14), ('is_good', True)])

dict_keys(['animal', 'planet', 'number', 'pi', 'is_good'])

dict_values(['dog', 'neptun', 40, 3.14, True])

In [12]:
Student_ages = {"Harry": 29, 
                "Clark": 32, 
                "Peter": 22, 
                "Bruce": 36 
                }
del Student_ages["Clark"]
print(Student_ages)

{'Harry': 29, 'Peter': 22, 'Bruce': 36}

In [13]:
Student_ages = {"Harry": 29, 
                "Clark": 32, 
                "Peter": 22, 
                "Bruce": 36 
                }
Student_ages["Harry"] = "88"
print(Student_ages)

{'Harry': '88', 'Clark': 32, 'Peter': 22, 'Bruce': 36}

In [14]:
Student_ages.update({'is_bad': False})
print(Student_ages)

{'Harry': '88', 'Clark': 32, 'Peter': 22, 'Bruce': 36, 'is_bad': False}

In [15]:

school_records={
    "personal_info":
        {"kid":{"tom": {"class":"intermediate", "age":10},
                "sue": {"class":"elementary", "age":8}
               },
         "teen":{"joseph":{"class":"college", "age":19},
                 "marry":{"class":"high school", "age":16}
               },               
        },
}

print(school_records['personal_info']['teen']['marry']['age'])

16

In [16]:
dict_by_dict = {'planet': 'neptun',
               'number': 40,
               'pi': 3.14,
               'is_good': True,
               'is_bad': False}

print('pi' in dict_by_dict) 
print('animal' not in dict_by_dict)  # remember, we have deleted 'animal'

True
True

In [19]:
a = {'b', 'd', 'r', 'c', 'a'}
a.remove('c') # we delete 'c' from the set
print(a)

{'b', 'd', 'r', 'a'}

In [21]:
a = {'b', 'd', 'r', 'c', 'a'}
print('b' in a)

True

In [22]:
print(len(set('listen to the voice of enlisted')))

13

In [28]:
a = {'b', 'd', 'r', 'c', 'a'}
a.add('s')
print(a)

{'b', 'd', 'r', 'c', 'a', 's'}

In [41]:
a = {'b', 'd', 'r', 'c', 'a'}
a.update({'s'})
a

{'a', 'b', 'c', 'd', 'r', 's'}

In [55]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})
print(numbers)
print(numbers['x'] + numbers['y'] + numbers['z']**2)

{'x': 12, 'y': 4, 'z': 3}
25

In [56]:
numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
set(numbers_10)

{10, 30, 40, 50, 60, 70, 80, 90, 100}

In [69]:
numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1,20)
numbers_10

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [70]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0])

spinach

In [78]:
family_members = ('Meghan', 'Tom', 'Nicole', 'Tim')
print(type(family_members))

<class 'tuple'>

In [79]:
x = 6
y = 9
print ("is x equal to y?                 :" , x == y)
print ("is x not equal to y?             :" , x != y)
print ("is x less than y?                :" , x < y)
print ("is x greater than y?             :" , x > y)
print ("is x less than or equal to y?    :" , x <= y)
print ("is x greater than or equal to y? :" , x >= y)

is x equal to y?                 : False
is x not equal to y?             : True
is x less than y?                : True
is x greater than y?             : False
is x less than or equal to y?    : True
is x greater than or equal to y? : False

In [2]:
number = 10
if number >= 10 :
    print('The number is equal or greater than 10')
else :
    print( 'The number is less than 10')

The number is equal or greater than 10

In [1]:
my_list=["a", "b", "c", "d", "e"]

a = 0

while a < len(my_list):
    print('square of {} is : {}'.format(a, a**2))
    a+=1

square of 0 is : 0
square of 1 is : 1
square of 2 is : 4
square of 3 is : 9
square of 4 is : 16

In [2]:
answer = 44

question = 'What number am I thinking of?  '
print ("Let's play the guessing game!")

while True:
    guess = int(input(question))

    if guess < answer:
        print('Little higher')
    elif guess > answer:
        print('Little lower')
    else:  # guess == answer
        print('Are you a MINDREADER!!!')
        break

Let's play the guessing game!
What number am I thinking of?  55
Little lower
What number am I thinking of?  43
Little higher
What number am I thinking of?  42
Little higher
What number am I thinking of?  87
Little lower
What number am I thinking of?  44
Are you a MINDREADER!!!

In [3]:
flowers = ['Rose', 'Orchid', 'Tulip']
len(flowers)

3

In [5]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len('Rose')
count1

4

In [17]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)


while count1 > 0 : 
    print(flowers[0],flowers[1],flowers[2],sep='\n')
    count1 -= 3

Rose
Orchid
Tulip

In [18]:
for i in {'n1' : 'one', 'n2' : 'two'} : 
    print(i)

n1
n2

In [38]:
iterable = [1, 2, 3, 4]
for i in iterable :
    print(i**2)

1
4
9
16

In [40]:
for i in [1, 2, 3, 4, 5] :
    print(i**3)

1
8
27
64
125

In [44]:
n = int(input('enter a number between 1-10'))

for i in range(11):
    print('{}x{} = '.format(n, i), n*i)

enter a number between 1-103
3x0 =  0
3x1 =  3
3x2 =  6
3x3 =  9
3x4 =  12
3x5 =  15
3x6 =  18
3x7 =  21
3x8 =  24
3x9 =  27
3x10 =  30

In [42]:
times = int(input("How many times should I say 'I love you'"))

for i in range(times):
    print('I love you')

How many times should I say 'I love you'3
I love you
I love you
I love you

In [57]:
n = int(input('enter a number between 1-10'))

for i in range(11):
    answer = ' %d  ' % (n*i)
    print(answer)

enter a number between 1-105
 0
 5
 10
 15
 20
 25
 30
 35
 40
 45
 50

In [3]:
score = int (input("Enter your score :"))

if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
else:
    Score_letter="below B"

print ("Your degree: %s" % Score_letter)

Enter your score :88
Your degree: B+

In [2]:
x = (range(10,0,-2))
print(*x)

10 8 6 4 2

In [9]:
who = ['I am ', 'You are ']
mood = ['happy', 'confident']
for i,ii in zip(who, mood):
        print(i,':',ii)

I am  : happy
You are  : confident

In [4]:
who = ['I am ', 'You are ']
mood = ['happy', 'confident']
for i,ii in zip(who, mood):
        print(i, '+' ,ii)

I am  + happy
You are  + confident

In [15]:
who = ['I am ', 'You are ']
mood = ['happy', 'confident']
for i in who:
    for ii in mood:
        print(i + ii)

I am happy
I am confident
You are happy
You are confident

In [3]:
who = ['I am ', 'You are ']
mood = ['happy ', 'confident ']
x = ['asd', 'qwe']
for i in who:
    for ii in mood:
        for iii in x:
            print(i + ii + iii)

I am happy asd
I am happy qwe
I am confident asd
I am confident qwe
You are happy asd
You are happy qwe
You are confident asd
You are confident qwe

In [12]:
who = ['I am ', 'You are ']
mood = ['happy', 'confident']
for i in who:
    for ii in mood:
        print(who + mood)

['I am ', 'You are ', 'happy', 'confident']
['I am ', 'You are ', 'happy', 'confident']
['I am ', 'You are ', 'happy', 'confident']
['I am ', 'You are ', 'happy', 'confident']

In [1]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
groceries = zip(fruits, quantities, prices)
print(list(groceries))

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]